.custom-input{
    text-align: center;
    border-radius: 6px;
    margin: 3px;
    padding: 3px;
    background-color: white;
    color: black;
    width: 400px;
} 

#custom-btn{
    width: 400px;
    height: 45px;
    border-radius: 6px;
    background-color: #0aad0a;
    border-radius: 6px;
    margin: 3px;
    padding: 3px;
}

#image-height{
    padding: 2px;
    margin: 2px;
    height: 320px;
}

@media screen and (max-width: 768px) {
    .custom-input{ 
        font-size: 13px;
    }
  }  