/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }  
  
  
  
  #list-style-none li{
    list-style: none;
  }
  
  #list-style-none a{
    text-decoration: none;
    color: rgb(123, 123, 223);
  }

  #list-style-none a:hover{
    color: blue ;
  }
  
  .personal-details input{
    padding: 10px;
    margin: 5px;
    font-size: 15px;
  }  
  
  .personal-details h5{ 
    font-size: 20px;   
  }

  @media screen and (max-width: 425px) {
    #custom-para{
      font-size: 11px;
    }
  }   
  